@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-gowun-batang);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass {
    @apply bg-white/30 backdrop-blur-md border border-white/20 shadow-xl;
  }
}

:root {
  --background: #F0F4FF;
  --foreground: #312E81;
}

body {
  color: var(--foreground);
  background: linear-gradient(-45deg, #F0F4FF, #E0E7FF, #C7D2FE, #FFE4E6);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}